<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Form Page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h2> Bill Form Page</h2>
<p>Fill in the form and press the button "Calculate Bills".</p>
<form action="/result" method="post">
    {{bill_form.amount.label}} &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; {{bill_form.period.label}}
    <br>
    {{bill_form.amount}}  {{bill_form.period}}
    <hr>
    <p> First Flatmate </p>
    {{bill_form.name1.label}} &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; {{bill_form.days_in_house1.label}}
    <br>
    {{bill_form.name1}} {{bill_form.days_in_house1}}
    <hr>
    <p> Second Flatmate</p>
    {{bill_form.name2.label}} &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; {{bill_form.days_in_house2.label}}
    <br>
    {{bill_form.name2}} {{bill_form.days_in_house2}}
    <hr>
    {{bill_form.button}}
</form>
</body>
</html>
